.fixed-top.scrolled {
    background-color: #FFFFFF !important;
    transition: background-color 200ms linear;
    box-shadow: 0 4px 2px -3px #000000;
}

.nav-item {
    margin-right: 40px;
    padding: 10px;
}

.nav-link{
    color:black;
    text-align: center;
    font-size:19px;
    font-weight: bold;
}

.logo{
    height:4rem;
}

/**
 * ------------------
 * list
 * ------------------
 */

.each-info{
    height:10%;
}
ul {
    margin: 0;
    padding: 0; }
ul li {
    list-style: none; }

/**
 * ---------------------
 *   Defult Button Style
 * ---------------------
 */
.btn {
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    outline: 0;
    padding: 8px 30px;
    font-weight: bold;
    border-radius: 20px; }
.btn:last-child {
    margin-right: 0px !important; }
.btn .icon {
    position: relative;
    top: 2px; }
.btn .icon img {
    position: relative;
    top: -3px;
    width: 14px; }
.btn.btn-fill {
    background-color: #0bceaf;
    color: #fff; }
.btn.left-icon .icon {
    margin-right: 15px; }
.btn.right-icon .icon {
    margin-left: 15px; }
.btn.btn-border {
    background-color: transparent; }
.btn.white-btn-border {
    background-color: transparent;
    border-color: #fff; }
.btn.btn-round {
    padding: 15px;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    font-size: 24px;
    text-align: center; }
.btn.btn-round .icon {
    top: 7px; }
.btn.apple, .btn.androad {
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
    padding: 9px 28px;
    height: 82px; }
.btn.apple img, .btn.androad img {
    width: 35px;
    height: 100%;
    float: left; }
.btn.apple .icon, .btn.androad .icon {
    font-size: 60px;
    float: left; }
.btn.apple span, .btn.androad span {
    display: block;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease; }
.btn.apple .group, .btn.androad .group {
    float: right; }
.btn.apple .big,
.btn.apple .small, .btn.androad .big,
.btn.androad .small {
    text-align: left;
    margin-left: 7px;
    line-height: 30px; }
.btn.apple .big, .btn.androad .big {
    font-size: 24px;
    font-weight: 400; }
.btn.apple .small, .btn.androad .small {
    font-size: 16px; }

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color !important;
    outline-offset: -2px; }

.btn-text-link {
    padding: 50px 0 0 0;
    text-align: center; }
.btn-text-link a {
    margin-left: 10px; }

.myimg{
    width:100%;
}


/*
    ==============
       ABOUT
    ==============
*/
.mh-about{
    padding-top:15%;
    padding-bottom:15%;
    background:black;
    color:red;
}
.mh-about .mh-about-inner {
    padding-left: 50px; }
.mh-about .mh-about-inner h2 {
    margin-bottom: 20px;
    margin-top: 20px; }
.mh-about .mh-about-inner p {
    margin-bottom: 30px; }
.mh-about .mh-about-inner .btn {
    margin-top: 20px; }
.mh-about .mh-about-inner .btn .fa {
    margin-left: 10px; }

.mh-about-tag {
    word-break: break-all;
    margin-bottom: 10px;
    margin-top: 10px; }
.mh-about-tag ul li {
    margin: 0px 6px;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 4px 0px;
    display: inline-block; }
.mh-about-tag ul li span {
    border: 1px solid #0bceaf;
    padding: 4px 10px;
    border-radius: 4px; }
.mh-about-tag ul li span:hover {
    background-color: transparent !important; }
/**region Heading*/

.img-border img{
    height:360px;
    width:400px;
}
/* -----------------
* Social Icon Style
* -----------------
*/
.social-icon {
    display: inline-block; }
.social-icon li {
    list-style: none;
    float: left;
    margin-bottom: 0px;
    margin-right: 8px; }
.social-icon li a {
    text-align: center;
    width: 45px;
    height: 45px;
    padding: 10px;
    border-radius: 50%; }
.social-icon li:last-child a {
    margin-right: 0px; }

.mh-home{
    margin-top:200px;
}
.mh-home .mh-header-info ul li .fa {
    margin: 0 10px;
}
.mh-home .mh-header-info {
    padding-top: 100px; }
.mh-home .mh-header-info .mh-promo {
    margin-bottom: 30px; }
.mh-home .mh-header-info .mh-promo span {
    background-color: #0bceaf;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 10px 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0px; }
.mh-home .mh-header-info h2 {
    font-size: 60px;
    font-weight: 600;
    line-height: 65px;
    margin-top: 10px;
    margin-bottom: 10px; }
.mh-home .mh-header-info h4 {
    font-size: 26px;
    line-height: 34px;
    margin-bottom: 30px; }
.mh-home .mh-header-info ul {
    margin-top: 20px; }
.mh-home .mh-header-info ul li {
    margin: 10px 0; }
.mh-home .mh-header-info ul li .fa {
    margin-right: 15px;
    display: inline-block; }
.mh-home .mh-header-info ul li address {
    display: inline-block; }
.mh-home .mh-header-info ul li:hover .fa {
    color: #0bceaf; }
.mh-home .mh-header-info .social-icon {
    margin-top: 0; }
.mh-home .mh-header-info .social-icon li .fa {
    font-size: 18px;
    line-height: 30px;
    padding: 4px 14px;
    margin-right: 10px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 3px; }
.mh-home .mh-header-info .social-icon li .fa:hover {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
.mh-home .mh-header-info .social-icon li a {
    font-size: 25px;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 0;
    margin-right: 0;
    border-radius: 50%; }
.mh-home .hero-img {
    margin: 0 auto;
    float: none;
    margin-top: 30px;
    text-align: center; }
.mh-home .hero-img img {
    margin: 0 auto;
    float: none;
    text-align: center;
    border: 20px solid rgba(0, 0, 0, 0.17);
    border-radius: 50%; }
.mh-home .img-border {
    height: 400px;
    width: 400px;
    border: 20px solid rgba(0, 0, 0, 0.07);
    margin: 0 auto;
    border-radius: 50%; }

.mh-featured-project-img img {
    width: inherit !important;
    margin: 0 auto; }

.mh-single-project-slide-by-side {
    margin: 0 auto; }



/**
 * -----------------
 * General CSS
 * -----------------
 */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: bold; }

.white-vertion.black-bg {
    background-color: #fff; }
.white-vertion .section-loader {
    background: #fff; }
.white-vertion ::placeholder {
    color: #000; }
.white-vertion a {
    color: #000; }
.white-vertion h2 {
    color: #000; }
.white-vertion h3 {
    color: #000; }
.white-vertion h4 {
    color: #000; }
.white-vertion h5 {
    color: #000; }
.white-vertion h6 {
    color: #000; }
.white-vertion p {
    color: #000; }
.white-vertion address {
    color: #000; }
.white-vertion span {
    color: #000; }
.white-vertion ul li {
    color: #000; }
.white-vertion div {
    color: #000; }
.white-vertion .form-control {
    color: #fff; }
.white-vertion .contact-message {
    color: #fff; }
.white-vertion .nav-strict {
    background-color: #fff; }
.white-vertion .img-color-overlay {
    background-color: rgba(255, 255, 255, 0.9); }
.white-vertion .dark-bg {
    background-color: #fff; }
.white-vertion .mh-home .mh-header-info .mh-promo span {
    color: #fff; }
.white-vertion .mh-project-gallery .grid-item figure figcaption a {
    color: #fff; }
.white-vertion .mh-project-gallery .grid-item figure figcaption .title {
    color: #fff; }
.white-vertion .mh-project-gallery .grid-item figure figcaption .sub-title {
    color: #fff; }
.white-vertion .mh-portfolio-modal {
    background: #fff; }
.white-vertion .page-item.active .page-link {
    background-color: #fff;
    border-color: #fff;
    color: #0bceaf; }
.white-vertion .navbar-toggler .icon,
.white-vertion .navbar-toggler .icon::after,
.white-vertion .navbar-toggler .icon::before {
    background-color: #000; }
.white-vertion .mh-header .navbar-nav li a {
    color: #000;
    opacity: 0.8; }
.white-vertion .mh-home .mh-header-info .social-icon li .fa:hover {
    background-color: #000; }
.white-vertion h1, .white-vertion h2, .white-vertion h3, .white-vertion h4, .white-vertion h5, .white-vertion h6, .white-vertion p, .white-vertion address, .white-vertion span, .white-vertion q {
    opacity: 0.8; }
.white-vertion .mh-header .navbar-nav li.active a {
    padding-right: 0;
    padding-left: 0;
    border-color: #000; }
.white-vertion .mh-header.nav-3 .navbar-nav li.active a {
    border-color: transparent; }
.white-vertion .mh-footer .form-control {
    -webkit-box-shadow: 0 0px 1px 0 rgba(40, 40, 40, 0.8), 0 0px 1px 0px rgba(40, 40, 40, 0.8);
    -moz-box-shadow: 0 0px 1px 0 rgba(40, 40, 40, 0.8), 0 0px 1px 0px rgba(40, 40, 40, 0.8);
    box-shadow: 0 0px 1px 0 rgba(40, 40, 40, 0.8), 0 0px 1px 0px rgba(40, 40, 40, 0.8);
    color: #000; }
.white-vertion .mh-footer .form-control:focus {
    -webkit-box-shadow: 0 0px 1px 0 rgba(40, 40, 40, 0.8), 0 0px 1px 0px rgba(40, 40, 40, 0.8);
    -moz-box-shadow: 0 0px 1px 0 rgba(40, 40, 40, 0.8), 0 0px 1px 0px rgba(40, 40, 40, 0.8);
    box-shadow: 0 0px 1px 0 rgba(40, 40, 40, 0.8), 0 0px 1px 0px rgba(40, 40, 40, 0.8); }
.white-vertion .mh-footer .contact-message {
    -webkit-box-shadow: 0 0px 1px 0 rgba(40, 40, 40, 0.8), 0 0px 1px 0px rgba(40, 40, 40, 0.8);
    -moz-box-shadow: 0 0px 1px 0 rgba(40, 40, 40, 0.8), 0 0px 1px 0px rgba(40, 40, 40, 0.8);
    box-shadow: 0 0px 1px 0 rgba(40, 40, 40, 0.8), 0 0px 1px 0px rgba(40, 40, 40, 0.8);
    color: #000; }
.white-vertion .mh-footer .contact-message:focus {
    -webkit-box-shadow: 0 0px 1px 0 rgba(40, 40, 40, 0.8), 0 0px 1px 0px rgba(40, 40, 40, 0.8);
    -moz-box-shadow: 0 0px 1px 0 rgba(40, 40, 40, 0.8), 0 0px 1px 0px rgba(40, 40, 40, 0.8);
    box-shadow: 0 0px 1px 0 rgba(40, 40, 40, 0.8), 0 0px 1px 0px rgba(40, 40, 40, 0.8); }
.white-vertion .mh-footer-2 .form-control {
    -webkit-box-shadow: 0 0px 1px 0 rgba(40, 40, 40, 0.8), 0 0px 1px 0px rgba(40, 40, 40, 0.8);
    -moz-box-shadow: 0 0px 1px 0 rgba(40, 40, 40, 0.8), 0 0px 1px 0px rgba(40, 40, 40, 0.8);
    box-shadow: 0 0px 1px 0 rgba(40, 40, 40, 0.8), 0 0px 1px 0px rgba(40, 40, 40, 0.8); }
.white-vertion .mh-footer-2 .form-control:focus {
    -webkit-box-shadow: 0 0px 1px 0 rgba(40, 40, 40, 0.8), 0 0px 1px 0px rgba(40, 40, 40, 0.8);
    -moz-box-shadow: 0 0px 1px 0 rgba(40, 40, 40, 0.8), 0 0px 1px 0px rgba(40, 40, 40, 0.8);
    box-shadow: 0 0px 1px 0 rgba(40, 40, 40, 0.8), 0 0px 1px 0px rgba(40, 40, 40, 0.8); }
.white-vertion .mh-footer-2 .contact-message {
    -webkit-box-shadow: 0 0px 1px 0 rgba(40, 40, 40, 0.8), 0 0px 1px 0px rgba(40, 40, 40, 0.8);
    -moz-box-shadow: 0 0px 1px 0 rgba(40, 40, 40, 0.8), 0 0px 1px 0px rgba(40, 40, 40, 0.8);
    box-shadow: 0 0px 1px 0 rgba(40, 40, 40, 0.8), 0 0px 1px 0px rgba(40, 40, 40, 0.8); }
.white-vertion .mh-footer-2 .contact-message:focus {
    -webkit-box-shadow: 0 0px 1px 0 rgba(40, 40, 40, 0.8), 0 0px 1px 0px rgba(40, 40, 40, 0.8);
    -moz-box-shadow: 0 0px 1px 0 rgba(40, 40, 40, 0.8), 0 0px 1px 0px rgba(40, 40, 40, 0.8);
    box-shadow: 0 0px 1px 0 rgba(40, 40, 40, 0.8), 0 0px 1px 0px rgba(40, 40, 40, 0.8); }
.white-vertion .mh-blog .mh-blog-item .blog-inner h2 a {
    color: #202026; }
.white-vertion .shadow-1 {
    box-shadow: 0px 10px 20px 4px #00000015; }
.white-vertion .mh-pricing .mh-pricing {
    box-shadow: 0px 10px 20px 4px #00000015; }
.white-vertion .mh-blog .mh-blog-item {
    box-shadow: 0px 10px 20px 4px #00000015; }
.white-vertion .mh-experince .mh-education-deatils .mh-education-item {
    box-shadow: 0px 10px 20px 4px #00000015; }
.white-vertion .mh-work .mh-experience-deatils .mh-work-item {
    box-shadow: 0px 10px 20px 4px #00000015; }

.dark-vertion {
    opacity: 0.9; }
.dark-vertion.black-bg {
    background-color: #100e17; }
.dark-vertion .section-loader {
    background: #100e17; }
.dark-vertion ::placeholder {
    color: #fff; }
.dark-vertion a {
    color: #fff; }
.dark-vertion h2 {
    color: #fff; }
.dark-vertion h3 {
    color: #fff; }
.dark-vertion h4 {
    color: #fff; }
.dark-vertion h5 {
    color: #fff; }
.dark-vertion h6 {
    color: #fff; }
.dark-vertion p {
    color: #fff; }
.dark-vertion address {
    color: #fff; }
.dark-vertion span {
    color: #fff; }
.dark-vertion div {
    color: #fff; }
.dark-vertion ul li {
    color: #fff; }
.dark-vertion .form-control {
    color: #fff; }
.dark-vertion .contact-message {
    color: #fff; }
.dark-vertion .nav-strict {
    background-color: #202026; }
.dark-vertion .img-color-overlay {
    background-color: rgba(0, 0, 0, 0.9); }
.dark-vertion .mh-home .mh-header-info .social-icon li .fa:hover {
    background-color: #fff; }
.dark-vertion .page-item.active .page-link {
    background-color: #fff;
    border-color: #fff;
    color: #0bceaf; }
.dark-vertion .navbar-toggler .icon,
.dark-vertion .navbar-toggler .icon::after,
.dark-vertion .navbar-toggler .icon::before {
    background-color: #fff; }
.dark-vertion .mh-header .navbar-nav li.active a {
    border-color: #fff;
    padding-right: 0;
    padding-left: 0; }
.dark-vertion .mh-header.nav-3 .navbar-nav li.active a {
    border-color: transparent; }
.dark-vertion .mh-footer .form-control {
    -webkit-box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8), 0 0px 1px 1px rgba(255, 255, 255, 0.8);
    -moz-box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8), 0 0px 1px 1px rgba(255, 255, 255, 0.8);
    box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8), 0 0px 1px 1px rgba(255, 255, 255, 0.8); }
.dark-vertion .mh-footer .form-control:focus {
    -webkit-box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8), 0 0px 1px 1px rgba(255, 255, 255, 0.8);
    -moz-box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8), 0 0px 1px 1px rgba(255, 255, 255, 0.8);
    box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8), 0 0px 1px 1px rgba(255, 255, 255, 0.8); }
.dark-vertion .mh-footer .contact-message {
    -webkit-box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8), 0 0px 1px 1px rgba(255, 255, 255, 0.8);
    -moz-box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8), 0 0px 1px 1px rgba(255, 255, 255, 0.8);
    box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8), 0 0px 1px 1px rgba(255, 255, 255, 0.8); }
.dark-vertion .mh-footer .contact-message:focus {
    -webkit-box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8), 0 0px 1px 1px rgba(255, 255, 255, 0.8);
    -moz-box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8), 0 0px 1px 1px rgba(255, 255, 255, 0.8);
    box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8), 0 0px 1px 1px rgba(255, 255, 255, 0.8); }
.dark-vertion .mh-footer-2 .form-control {
    -webkit-box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8), 0 0px 1px 1px rgba(255, 255, 255, 0.8);
    -moz-box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8), 0 0px 1px 1px rgba(255, 255, 255, 0.8);
    box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8), 0 0px 1px 1px rgba(255, 255, 255, 0.8); }
.dark-vertion .mh-footer-2 .form-control:focus {
    -webkit-box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8), 0 0px 1px 1px rgba(255, 255, 255, 0.8);
    -moz-box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8), 0 0px 1px 1px rgba(255, 255, 255, 0.8);
    box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8), 0 0px 1px 1px rgba(255, 255, 255, 0.8); }
.dark-vertion .mh-footer-2 .contact-message {
    -webkit-box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8), 0 0px 1px 1px rgba(255, 255, 255, 0.8);
    -moz-box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8), 0 0px 1px 1px rgba(255, 255, 255, 0.8);
    box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8), 0 0px 1px 1px rgba(255, 255, 255, 0.8); }
.dark-vertion .mh-footer-2 .contact-message:focus {
    -webkit-box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8), 0 0px 1px 1px rgba(255, 255, 255, 0.8);
    -moz-box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8), 0 0px 1px 1px rgba(255, 255, 255, 0.8);
    box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8), 0 0px 1px 1px rgba(255, 255, 255, 0.8); }
.dark-vertion .mh-work .mh-experience-deatils .mh-work-item {
    -webkit-box-shadow: -1rem 0 3rem #000;
    box-shadow: -1rem 0 3rem #000; }
.dark-vertion .mh-pricing .mh-pricing {
    -webkit-box-shadow: -1rem 0 3rem #000;
    box-shadow: -1rem 0 3rem #000; }
.dark-vertion .mh-blog .mh-blog-item {
    -webkit-box-shadow: -1rem 0 3rem #000;
    box-shadow: -1rem 0 3rem #000; }
.dark-vertion .mh-footer-address .mh-address-footer-item {
    -webkit-box-shadow: -1rem 0 3rem #000;
    box-shadow: -1rem 0 3rem #000; }
.dark-vertion .mh-experince .mh-education-deatils .mh-education-item {
    -webkit-box-shadow: -1rem 0 3rem #000;
    box-shadow: -1rem 0 3rem #000; }
.dark-vertion .mh-service .mh-service-item {
    -webkit-box-shadow: -1rem 0 3rem #000;
    box-shadow: -1rem 0 3rem #000; }
.dark-vertion .mh-home .hero-img img {
    border: 20px solid rgba(0, 0, 0, 0.4); }
.dark-vertion .mh-home .img-border {
    border: 20px solid rgba(0, 0, 0, 0.9); }
.dark-vertion .candidatos .parcial .progressBar {
    background: rgba(199, 198, 198, 0.6); }
.dark-vertion .mh-progress path:nth-child(1) {
    stroke: rgba(255, 255, 255, 0.5); }

.mh-rtl {
    text-align: right; }
.mh-rtl .mh-work .mh-experience-deatils
.mh-work-item .work-responsibility
li .fa {
    margin-left: 10px; }
.mh-rtl .mh-blog-post-info ul li strong {
    margin-left: 6px; }
.mh-rtl .mh-footer .contact-message {
    text-align: right; }

.mh-footer{
    margin-top:10%;
}


.section-title {
    text-align: center;
    padding-bottom:10%;
}
.section-title h3 {
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
    margin-bottom: 60px; }
.section-title h3 {
    margin-bottom: 60px; }
.section-title h2 {
    margin-bottom: 60px; }

/*
    ==============
       SERVICES
    ==============
*/

.mh-service{
    padding-top:8%;
    padding-bottom:8%;
}
.mh-service .mh-service-item {
    padding: 20px; }
.mh-service .mh-service-item .fa {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 16px; }
.mh-service .mh-service-item .fa.purple-color {
    color: #9774fa; }
.mh-service .mh-service-item .fa.iron-color {
    color: #ed7256; }
.mh-service .mh-service-item .fa.sky-color {
    color: #2796e2; }
.mh-service .mh-service-item h3 {
    margin-bottom: 18px;
    font-size: 25px;
    line-height: 34px; }
.mh-service .mh-service-item a {
    color: #0bceaf; }
.mh-service .mh-service-item a .fa {
    font-size: 16px;
    line-height: 27px;
    margin-left: 6px; }

/*
================
 VARIABLES
================
*/
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.shadow-1 {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

/*
    ==============
       SKILLS
    ==============
*/
.mh-skills{
    padding-bottom:8%;
}
.mh-skills .mh-professional-skill {
    padding-right: 60px; }
.mh-skills .mh-professional-skill h3 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 60px; }

.mh-professional-skills {
    padding-left: 20%; }
.mh-professional-skills h3 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 60px; }

.mh-professional-progress li {
    display: inline-block;
    margin: 0 auto;
    float: none;
    width: 48%;
    margin-bottom: 30px;
    text-align: center; }

.mh-progress {
    margin-bottom: 10px;
    font: 900 1.1428571429em/1 Cinzel, cursive; }
.mh-progress .progressbar-text {
    color: inherit !important; }

.progress.progress-line {
    height: 10px;
    margin-right: 60px; }

.progress.progress-line .progressbar-text {
    position: absolute;
    top: 50%;
    left: 100%;
    width: 60px;
    -webkit-transform: translateY(-35%);
    -ms-transform: translateY(-35%);
    transform: translateY(-35%);
    text-align: center; }

.mh-progress.mh-progress-circle {
    display: inline-block;
    width: 100px;
    height: 100px; }
.dark-vertion .mh-progress path:nth-child(1) {
    stroke: rgba(255, 255, 255, 0.5); }

.mh-progress path:nth-child(1) {
    stroke: rgba(0, 0, 0, 0.7); }

.mh-progress path:nth-child(2) {
    stroke: #0bceaf; }

.candidatos {
    position: relative;
    margin-bottom: 15px; }
.candidatos .parcial {
    display: inline-block;
    width: 100%;
    vertical-align: middle; }
.candidatos .parcial .info {
    position: relative; }
.candidatos .parcial .info .nome {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 15px;
    font-weight: 600;
    opacity: 0.9; }
.candidatos .parcial .info .eleito, .candidatos .parcial .info .segundo-turno {
    padding: 0 5px 2px 5px;
    border-radius: 2px; }

.candidatos .parcial .progressBar {
    position: relative;
    width: 100%;
    height: 7px;
    margin: 30px 0 2px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5); }
.candidatos .parcial .percentagem {
    position: absolute;
    top: 0;
    left: 0;
    height: 7px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #0bceaf;
    -webkit-transition: 3s all;
    -webkit-animation-duration: 3s;
    -webkit-animation-name: animationProgress; }
.candidatos .parcial .partidas {
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase; }

.percentual {
    animation-name: animationProgress; }

@-webkit-keyframes animationProgress {
    from {
        width: 0; } }
@keyframes animationProgress {
    from {
        width: 0; } }
/*
    ==============
      EDUCATION
    ==============
*/

.mh-experince{
    padding-top:10%;
}
.mh-education {
    padding-right: 30px; }

.mh-work {
    padding-left: 30px; }
.mh-work h3 {
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
    margin-bottom: 60px; }
.mh-work .mh-experience-deatils .mh-work-item {
    margin-bottom: 30px;
    padding: 20px 30px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
.mh-work .mh-experience-deatils .mh-work-item:last-child {
    margin-bottom: 0; }
.mh-work .mh-experience-deatils .mh-work-item h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600; }
.mh-work .mh-experience-deatils .mh-work-item h4 a {
    color: #0bceaf; }
.mh-work .mh-experience-deatils .mh-work-item .mh-eduyear {
    margin: 10px 0;
    color: #0bceaf; }
.mh-work .mh-experience-deatils .mh-work-item span {
    font-size: 12px;
    line-height: 22px; }
.mh-work .mh-experience-deatils .mh-work-item .work-responsibility li {
    font-size: 14px;
    line-height: 23px;
    margin: 2px 0; }
.mh-work .mh-experience-deatils .mh-work-item .work-responsibility li .fa {
    font-size: 10px;
    line-height: 23px;
    margin-right: 10px; }
/*
    ==============
      EDUCATION
    ==============
*/
.mh-education {
    padding-right: 30px; }

.mh-work {
    padding-left: 30px; }
.mh-work h3 {
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
    margin-bottom: 60px; }
.mh-work .mh-experience-deatils .mh-work-item {
    margin-bottom: 30px;
    padding: 20px 30px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
.mh-work .mh-experience-deatils .mh-work-item:last-child {
    margin-bottom: 0; }
.mh-work .mh-experience-deatils .mh-work-item h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600; }
.mh-work .mh-experience-deatils .mh-work-item h4 a {
    color: #0bceaf; }
.mh-work .mh-experience-deatils .mh-work-item .mh-eduyear {
    margin: 10px 0;
    color: #0bceaf; }
.mh-work .mh-experience-deatils .mh-work-item span {
    font-size: 12px;
    line-height: 22px; }
.mh-work .mh-experience-deatils .mh-work-item .work-responsibility li {
    font-size: 14px;
    line-height: 23px;
    margin: 2px 0; }
.mh-work .mh-experience-deatils .mh-work-item .work-responsibility li .fa {
    font-size: 10px;
    line-height: 23px;
    margin-right: 10px; }
.mh-experince h3 {
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
    margin-bottom: 60px; }
.mh-experince .mh-education-deatils .mh-education-item {
    margin-bottom: 30px;
    padding: 26px 30px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
.mh-experince .mh-education-deatils .mh-education-item:last-child {
    margin-bottom: 0; }
.mh-experince .mh-education-deatils .mh-education-item h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600; }
.mh-experince .mh-education-deatils .mh-education-item h4 a {
    font-style: italic;
    margin-left: 4px;
    color: #0bceaf; }
.mh-experince .mh-education-deatils .mh-education-item .mh-eduyear {
    margin: 10px 0;
    color: #0bceaf; }
.mh-experince .mh-education-deatils .mh-education-item p {
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 0; }


/*
    ==============
      FOOTER ONE
    ==============
*/
.mh-footer ::placeholder {
    opacity: 0.9; }
.mh-footer .form-control {
    padding: 20px;
    -webkit-box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8), 0 0px 1px 1px rgba(255, 255, 255, 0.8);
    -moz-box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8), 0 0px 1px 1px rgba(255, 255, 255, 0.8);
    box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8), 0 0px 1px 1px rgba(255, 255, 255, 0.8); }
.mh-footer .form-control:focus {
    -webkit-box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8), 0 0px 1px 1px rgba(255, 255, 255, 0.8);
    -moz-box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8), 0 0px 1px 1px rgba(255, 255, 255, 0.8);
    box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8), 0 0px 1px 1px rgba(255, 255, 255, 0.8);
    border-color: transparent; }
.mh-footer .contact-message {
    -webkit-box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8), 0 0px 1px 1px rgba(255, 255, 255, 0.8);
    -moz-box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8), 0 0px 1px 1px rgba(255, 255, 255, 0.8);
    box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8), 0 0px 1px 1px rgba(255, 255, 255, 0.8);
    background-color: transparent;
    border-color: transparent;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
    padding: 20px;
    outline: 0; }
.mh-footer .contact-message:focus {
    -webkit-box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8), 0 0px 1px 1px rgba(255, 255, 255, 0.8);
    -moz-box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8), 0 0px 1px 1px rgba(255, 255, 255, 0.8);
    box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8), 0 0px 1px 1px rgba(255, 255, 255, 0.8);
    border-color: transparent; }

a{
    color:black;
}

.hackerrank {
    background-image: url(../img/hacker-rank.svg);
}

/*
    ============
    Footer Address
    ==============
*/
.mh-footer-address {
    margin-bottom: 60px; }
.mh-footer-address .mh-address-footer-item {
    padding: 30px;
    text-align: center;
    margin-bottom: 30px; }
.mh-footer-address .mh-address-footer-item h4 {
    margin-bottom: 20px; }
.mh-footer-address .mh-address-footer-item address {
    margin-bottom: 0; }
.mh-footer-address .mh-address-footer-item .each-icon {
    margin-bottom: 30px; }
.mh-footer-address .mh-address-footer-item .each-icon .fa {
    text-align: center;
    width: 100px;
    height: 100px;
    border: 1px solid;
    border-radius: 50%;
    line-height: 100px;
    font-size: 20px;
    border-color: #0bceaf; }

/*endregion*/

/*region reponsive*/

/*
================
 VARIABLES
================
*/
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.shadow-1 {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

@media only screen and (max-width: 1400px) {
    .mh-single-project-slide-by-side .owl-prev {
        top: 40%;
        left: 0; }

    .mh-single-project-slide-by-side .owl-next {
        top: 44%;
        right: 0; } }
@media only screen and (max-width: 991px) {
    .section-separator {
        padding: 40px 0; }

    .mh-home-2 .mh-header-info p {
        padding: 0 0px;
        font-weight: 300; }

    .home-section-separator {
        padding-top: 100px;
        padding-bottom: 100px; }

    .mh-footer-address .mh-address-footer-item .each-icon .fa {
        width: 60px;
        height: 60px;
        line-height: 60px; }

    .mh-home-2 .mh-header-info .mh-about-tag {
        width: 80%; }

    .mh-xs-mobile-nav {
        z-index: 99;
        /*-------------------------------*/
        /*            Overlay            */
        /*-------------------------------*/
        /*  Navigation Menu */ }
    .mh-xs-mobile-nav .nav-btn .navbar-toggler.active {
        display: none; }
    .mh-xs-mobile-nav .navbar-nav {
        padding-top: 50px; }
    .mh-xs-mobile-nav .navbar-collapse {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 320px;
        left: 0;
        z-index: 990;
        margin-top: 0px;
        padding: 0;
        background-color: #0bceaf;
        transform: translateX(-100%) translateY(0) translateZ(0) rotate(0deg) scale(1);
        -o-transform: translateX(-100%) translateY(0) translateZ(0) rotate(0deg) scale(1);
        -ms-transform: translateX(-100%) translateY(0) translateZ(0) rotate(0deg) scale(1);
        -moz-transform: translateX(-100%) translateY(0) translateZ(0) rotate(0deg) scale(1);
        -webkit-transform: translateX(-100%) translateY(0) translateZ(0) rotate(0deg) scale(1);
        -webkit-transition: all 0.4s ease-out;
        -moz-transition: all 0.4s ease-out;
        -o-transition: all 0.4s ease-out;
        -ms-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;
        -webkit-font-smoothing: antialiased;
    }
    .mh-xs-mobile-nav .navbar-collapse.active {
        transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
        -o-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
        -ms-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
        -moz-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
        -webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1); }
    .mh-xs-mobile-nav .collapse {
        display: block; }
    .mh-xs-mobile-nav .navbar-fixed-bottom .navbar-collapse,
    .mh-xs-mobile-nav .navbar-fixed-top .navbar-collapse {
        max-height: inherit; }
    .mh-xs-mobile-nav .navbar-header {
        position: fixed;
        z-index: 999;
        width: 100%;
        margin-top: 0px;
        left: 0; }
    .mh-xs-mobile-nav .navbar-toggler .icon {
        transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(0deg) scale(1);
        -o-transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(0deg) scale(1);
        -ms-transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(0deg) scale(1);
        -moz-transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(0deg) scale(1);
        -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) rotate(0deg) scale(1); }
    .mh-xs-mobile-nav .navbar-toggler .icon,
    .mh-xs-mobile-nav .navbar-toggler .icon::after,
    .mh-xs-mobile-nav .navbar-toggler .icon::before {
        width: 22px;
        height: 2px;
        position: absolute;
        border-radius: 2px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden; }
    .mh-xs-mobile-nav .navbar-toggler .icon::after,
    .mh-xs-mobile-nav .navbar-toggler .icon::before {
        content: '';
        top: 0;
        right: 0;
        -webkit-transition: all 0.6s ease-out;
        -moz-transition: all 0.6s ease-out;
        -o-transition: all 0.6s ease-out;
        -ms-transition: all 0.6s ease-out;
        transition: all 0.6s ease-out;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .mh-xs-mobile-nav .navbar-toggler .icon::after {
        transform: translateX(0) translateY(6px) translateZ(0) rotate(0deg) scale(1);
        -o-transform: translateX(0) translateY(6px) translateZ(0) rotate(0deg) scale(1);
        -ms-transform: translateX(0) translateY(6px) translateZ(0) rotate(0deg) scale(1);
        -moz-transform: translateX(0) translateY(6px) translateZ(0) rotate(0deg) scale(1);
        -webkit-transform: translateX(0) translateY(6px) translateZ(0) rotate(0deg) scale(1); }
    .mh-xs-mobile-nav .navbar-toggler .icon::before {
        transform: translateX(0) translateY(-6px) translateZ(0) rotate(0deg) scale(1);
        -o-transform: translateX(0) translateY(-6px) translateZ(0) rotate(0deg) scale(1);
        -ms-transform: translateX(0) translateY(-6px) translateZ(0) rotate(0deg) scale(1);
        -moz-transform: translateX(0) translateY(-6px) translateZ(0) rotate(0deg) scale(1);
        -webkit-transform: translateX(0) translateY(-6px) translateZ(0) rotate(0deg) scale(1); }
    .mh-xs-mobile-nav .navbar-toggler.active .icon::after {
        transform: translateX(0) translateY(0) translateZ(0) rotate(138deg) scale(1);
        -o-transform: translateX(0) translateY(0) translateZ(0) rotate(138deg) scale(1);
        -ms-transform: translateX(0) translateY(0) translateZ(0) rotate(138deg) scale(1);
        -moz-transform: translateX(0) translateY(0) translateZ(0) rotate(138deg) scale(1);
        -webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(138deg) scale(1); }
    .mh-xs-mobile-nav .navbar-toggler.active .icon::before {
        transform: translateX(0) translateY(0) translateZ(0) rotate(-135deg) scale(1);
        -o-transform: translateX(0) translateY(0) translateZ(0) rotate(-135deg) scale(1);
        -ms-transform: translateX(0) translateY(0) translateZ(0) rotate(-135deg) scale(1);
        -moz-transform: translateX(0) translateY(0) translateZ(0) rotate(-135deg) scale(1);
        -webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(-135deg) scale(1); }
    .mh-xs-mobile-nav .navbar-toggler.active .icon::after,
    .mh-xs-mobile-nav .navbar-toggler.active .icon::before {
        background-color: #fff; }
    .mh-xs-mobile-nav .navbar-toggler.active .icon {
        background-color: transparent; }
    .mh-xs-mobile-nav .navbar-toggler:focus {
        outline: 0 !important; }
    .mh-xs-mobile-nav .strict {
        background-color: rgba(0, 0, 0, 0.9);
        padding-bottom: 65px; }
    .mh-xs-mobile-nav .navbar-toggler {
        padding: 15px;
        margin-right: 15px;
        margin-left: 15px;
        margin-top: 30px;
        z-index: 1000;
        -webkit-transition: all 0.4s ease-out;
        -moz-transition: all 0.4s ease-out;
        -o-transition: all 0.4s ease-out;
        -ms-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        display: block; }
    .mh-xs-mobile-nav .navbar-header .navbar-toggler .icon-bar {
        background-color: #0bceaf;
        -webkit-transition: all 0.4s ease-out;
        -moz-transition: all 0.4s ease-out;
        -o-transition: all 0.4s ease-out;
        -ms-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .mh-xs-mobile-nav .navbar-header .navbar-toggler.active .icon-bar {
        background-color: #fff; }
    .mh-xs-mobile-nav .overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 3; }
    .mh-xs-mobile-nav .overlay.active {
        display: block; }
    .mh-xs-mobile-nav .navbar-collapse {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 320px;
        left: 0;
        z-index: 990;
        margin-top: 0px;
        padding: 0;
        background-color: #0bceaf;
        transform: translateX(-100%) translateY(0) translateZ(0) rotate(0deg) scale(1);
        -o-transform: translateX(-100%) translateY(0) translateZ(0) rotate(0deg) scale(1);
        -ms-transform: translateX(-100%) translateY(0) translateZ(0) rotate(0deg) scale(1);
        -moz-transform: translateX(-100%) translateY(0) translateZ(0) rotate(0deg) scale(1);
        -webkit-transform: translateX(-100%) translateY(0) translateZ(0) rotate(0deg) scale(1);
        -webkit-transition: all 0.4s ease-out;
        -moz-transition: all 0.4s ease-out;
        -o-transition: all 0.4s ease-out;
        -ms-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;}
    .mh-xs-mobile-nav .navbar-collapse .nav {
        margin-top: 75px;
        border-top: 1px solid;
        border-top-color: rgba(255, 255, 255, 0.1);
        padding: 20px; }
    .mh-xs-mobile-nav .navbar-collapse .nav li {
        text-align: center;
        margin-bottom: 0px;
        width: 100%;
        display: block;
        -webkit-transition: all 0.4s ease-out;
        -moz-transition: all 0.4s ease-out;
        -o-transition: all 0.4s ease-out;
        -ms-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: translate3d(-20px, -10px, 0); }
    .mh-xs-mobile-nav .navbar-collapse .nav li a {
        background-color: transparent;
        text-transform: uppercase;
        font-size: 17px;
        line-height: 26px; }
    .mh-xs-mobile-nav .navbar-collapse .nav li a:hover {
        color: white !important;
        background: transparent; }
    .mh-xs-mobile-nav .navbar-collapse .nav li a.active {
        color: #fff; }
    .mh-xs-mobile-nav .navbar-collapse .nav li.active {
        color: #fff; }
    .mh-xs-mobile-nav .navbar-collapse.active {
        transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
        -o-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
        -ms-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
        -moz-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
        -webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1); }
    .mh-xs-mobile-nav .collapse.in {
        background-color: rgba(0, 0, 0, 0.9); }
    .mh-xs-mobile-nav .navbar-dark .navbar-toggler {
        border-color: transparent; }
    .mh-xs-mobile-nav .navbar-dark .navbar-toggler-icon {
        background-image: inherit; }

    .mh-home .mh-header-info {
        padding: 0; }

    .mh-header {
        padding: 10px 0; }

    .home-padding {
        padding: 100px 0; }

    .mh-about .mh-about-inner {
        padding-left: 5px; }

    .mh-home .mh-header-info h2 {
        font-size: 42px;
        font-weight: 600;
        line-height: 54px; }
    .mh-home .mh-header-info h4 {
        font-size: 20px;
        line-height: 24px; }

    .mh-nav {
        padding: 0; }

    .mh-professional-skills {
        padding-left: 0; }

    .mh-skills .mh-professional-skill {
        padding-right: 0; }

    .mh-home .mh-header-info .mh-promo {
        margin-bottom: 20px; }

    .nav-strict .navbar-toggler {
        margin-top: 0px; }

    .mh-footer-3 .mh-footer-address .mh-address-footer-item .each-info {
        padding-left: 20px; }

    .mh-blog-sidebar .social-icon li {
        margin-right: 2px; }

    .mh-xs-mobile-nav .navbar-nav {
        padding-top: 50px;
        padding-right: 20px; } }
@media only screen and (max-width: 768px) {
    .mh-blog .mh-blog-item {
        text-align: center; }

    .blog-form-inner {
        padding: 10px; }

    .mh-blog .mh-blog-item .blog-inner {
        padding: 0px; }

    .mh-blog-next-prev-post {
        text-align: center !important;
        margin: 10px 0; }

    .mh-blog .mh-blog-item img {
        margin-bottom: 30px;
        margin: 0 auto;
        float: none;
        text-align: center;
        margin-bottom: 20px;
        width: 100%; }

    .mh-blog .mh-blog-item h2 {
        margin-bottom: 14px;
        font-weight: bold;
        font-size: 18px;
        line-height: 30px; }

    .mh-experince h3 {
        margin-bottom: 30px; }

    .mh-work h3 {
        margin-bottom: 30px;
        margin-top: 30px; }

    .mh-work {
        padding-left: 0; }

    .mh-education {
        padding-right: 0; }

    .mh-skills .mh-professional-skill h3 {
        margin-bottom: 30px; }

    .mh-professional-skills h3 {
        margin-top: 30px;
        margin-bottom: 30px; }

    .mh-about .mh-about-inner {
        margin-top: 40px; }

    .mh-footer-address .mh-address-footer-item .each-icon .fa {
        width: 70px;
        height: 70px;
        line-height: 70px; }

    .mh-home-2 .mh-header-info ul.mh-home-contact li {
        display: inline-block;
        margin: 10px 15px;
        width: 40%;
        text-align: left; }

    .mh-testimonial .mh-client-item {
        padding: 30px 10px; }

    .mh-home-2 .mh-header-info .mh-about-tag {
        width: 100%; }

    .mh-blog .mh-blog-item .blog-inner {
        text-align: left; }

    .single-comment {
        margin: 0 auto;
        text-align: center;
        display: block;
        margin-top: 30px; }
    .single-comment img {
        margin-bottom: 20px; }

    .mh-blog .mh-blog-item .blog-inner {
        text-align: right;
        padding: 0 12px; } }
@media only screen and (max-width: 575px) {
    .xs-column-reverse {
        display: flex;
        flex-direction: column-reverse; }

    .mh-header {
        padding: 0; }

    .home-padding {
        padding: 100px 0; }

    .mh-home .hero-img {
        margin-bottom: 30px; }

    .mh-home .mh-header-info {
        padding: 0;
        text-align: center;
        margin-top: 40px; }

    .mh-about .mh-about-inner {
        padding-left: 5px;
        text-align: center;
        margin: 30px 15px; }

    .mh-skills .mh-professional-skill {
        padding-right: 0;
        padding: 0 15px; }

    .mh-experince h3 {
        margin-bottom: 30px;
        text-align: center; }

    .mh-education {
        margin-bottom: 30px;
        padding-right: 0; }

    .mh-work {
        padding-left: 0;
        margin-bottom: 30px; }

    .portfolio-nav ul li {
        margin-bottom: 20px; }

    .mh-skills .mh-professional-skill {
        margin-bottom: 50px; }

    .section-separator {
        padding: 30px 0; }

    .mh-home .mh-header-info .mh-promo {
        margin-bottom: 20px; }

    .mh-featured-project-content {
        margin-top: 40px;
        text-align: center; }

    .mh-featured-project .mh-featured-item .mh-featured-project-content p {
        text-align: center; }

    .mh-quates .each-quates {
        padding: 30px; }


    .mh-home-2 .mh-header-info ul.mh-home-contact li {
        width: 100%;
        margin: 6px 10px; }

    .mh-footer-3 .mh-footer-address .mh-address-footer-item {
        display: block;
        padding: 20px 0px; }

    .mh-footer-3 .mh-footer-address .mh-address-footer-item .each-info {
        padding-left: 20px;
        text-align: center; }

    .mh-footer-3 .mh-footer-address .mh-address-footer-item .each-info {
        padding-left: 0;
        text-align: center; }

    .xs-no-padding {
        padding: 0; }

    .mh-home-2 .mh-header-info {
        text-align: center;
        padding-top: 50px; }

    .mh-portfolio-modal-inner {
        margin-right: 0; }

    .mh-portfolio-modal {
        padding: 10px; }

    .mh-portfolio-modal-img {
        margin-top: 50px; }

    .mh-service .mh-service-item {
        margin-bottom: 20px; }

    .social-icon {
        display: block;
        margin: 0 auto;
        float: none;
        text-align: center; }

    .social-icon li {
        list-style: none;
        float: none;
        text-align: center;
        display: inline-block;
        margin-bottom: 0px;
        margin-right: 4px;
        margin-left: 4px; }

    .text-left.text-xs-center {
        text-align: center !important; } }
@media only screen and (max-width: 420px) {
    .mh-home .img-border {
        height: 280px;
        width: 280px; }

    .home-padding {
        padding: 60px 0; } }

/*# sourceMappingURL=responsive.css.map */
/*endregion*/
